$black: #000;
$gray: #575767;
$lightgray: #b9b9be;
$toast-footer: #f6f5f5;
$toast-icon: #fabb18;
$grayscale-black: #252733;
$admin-bg: #e5e5e5;
$sidebar-gray: #a4a6b3;
$admin-sidebar-active: #dde2ff;
