@import "./_variables.scss";
@import "./icofonts.scss";

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-vue/src/index.scss";

.container {
  &-fluid {
    &.authenticated {
      padding: 0;
    }
  }
}

.app-admin {
  background-color: $admin-bg;
}

.main-wrapper,
.main-wrapper-admin {
  height: 100vh;
  overflow-y: scroll;
}

.main-wrapper {
  color: $gray;
  &-admin {
    color: $grayscale-black;
  }
}

.btn {
  &-black {
    background-color: $black;
  }
  &-transparent {
    background-color: transparent;
    border: none;
    color: $gray;
    outline: none;
    &:hover,
    &:focus,
    &.active {
      background-color: transparent;
      color: $gray;
      outline: none;
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.sidebar-wrapper,
.sidebar-wrapper-admin {
  min-width: 250px;
  .nav {
    &-wrapper {
      position: relative;
      overflow: hidden;
    }
    &-item {
      &:last-child {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
    &-link {
      min-height: 56px;
      line-height: 40px;
    }
  }
}

.sidebar-wrapper {
  .nav {
    &-link {
      color: $black;
      &.active {
        border-radius: 0 27px 27px 0;
        background-color: $black;
        color: $white;
      }
    }
  }
}

.sidebar-wrapper-admin {
  background-color: $black;
  .nav {
    &-link {
      border-left: 3px solid $black;
      color: $sidebar-gray;
      &.active {
        background-color: rgba(159, 162, 180, 0.08);
        border-left: 3px solid $admin-sidebar-active;
        color: $white;
      }
    }
  }
}

.toast {
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  &-header {
    display: block;
  }
  &-body {
    padding: 0;
  }
  &-content {
    padding: 10px;
    h6 {
      font-size: 18px;
    }
    .detail {
      font-size: 16px;
    }
  }

  &-icon {
    background-color: $toast-icon;
    border-radius: 10px;
    display: table-cell;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    i {
      font-size: 20px;
    }
  }

  &-footer {
    background-color: $toast-footer;

    > * {
      color: $black;
      font-size: 12px;
    }
  }
}

.modal {
  &-header,
  &-footer {
    border: none;
  }
}

.card {
  background-color: $white;
  margin-bottom: 20px;
}

.table {
  thead {
    tr {
      th {
        border-top: none;
        font-size: 14px;
        font-weight: normal;
        color: $table-header-color;
        border-bottom: 1px solid $divider;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:last-child {
        border-bottom: 1px solid $divider;
      }
      td {
        font-size: 14px;
      }
    }
  }
}

.tabs {
  ul.nav-tabs {
    border: none;
    li {
      &.nav-item,
      &.nav-link.active {
        border: none;
        border-color: none;
      }
      &.nav-item {
        a {
          color: rgba($grayscale-black, 0.4);
          border: 1px solid $white;
          font-size: 19px;
          padding: 1rem;
          &:hover,
          &.active:hover {
            border: 1px solid $white;
          }
          &.active {
            color: $black;
          }
        }
      }
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.sub-text {
  color: $lightgray;
  font-size: 14px;
}

.row-hover {
  &:hover {
    border-radius: 10px;
    background-color: rgba($divider, 0.3);
    cursor: pointer;
  }
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.v-align {
  &-center {
    vertical-align: middle !important;
    vertical-align: -webkit-baseline-middle;
  }
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 15px;
  width: 9px;
  &.checked {
    border-bottom: 3px solid var(--success);
    border-right: 3px solid var(--success);
  }
  &.unchecked {
    border-bottom: 3px solid $divider;
    border-right: 3px solid $divider;
  }
}
